<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Renato</title>
</head>
<body>
    <header>
        <div class="inicio">
            <h2>Olá,</h2>
            <h1>Eu sou Renato</h1>
            <p>Um estudante de Eng. de Software, buscando uma oportunidade de demonstrar minhas habilidades e adquirir novas experiências.</p>
            <button>Entre em contato</button>
            <button>GitHub</button>
            <button>Linkedin</button>
        </div>
    </header>
    <nav>
        <ul>
            <img src="assets/jose_renato.png" alt="logo">
            <a href="">Sobre Mim</a>
            <a href="">Serviços</a>
            <a href="">Portifólio</a>
            <a href="">Currículo</a>
        </ul>
    </nav>
    <section>

    </section>
</body>
</html>